@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-primaria: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
    height: auto;
    border-radius: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__imc {
    display: flex;
    flex-direction: row;
}

.container-box {
    display: flex;
    width: 85%;
    gap: 30px;
    background-color: #0000006c;
    padding: 30px;
    border-radius: 16px;
    filter: drop-shadow(15px 15px 15px #aa4fe723);
    
}

p {
    padding: 5px;
    margin: 10px;
}

body {
    display: flex;
    background-color: #1b022b;
    background-repeat: no-repeat;
    height: 100dvb;
    font-family: var(--fonte-primaria);
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #f5f5f5bd;
    padding: 20px;
    height: 600px;
    border-radius: 16px;
    height: 70%;
}

.container-titulo {
    margin-bottom: 15px;
}

.container-texto {
    font-size: 1.25rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form input {
    font-size: 24px;
    margin: 10px;
    border-radius: 8px;
    height: 40px;
    padding: 0 10px;
}

label {
    font-size: 1.25rem;
    font-weight: 700;
}

button {
    height: 50px;
    margin: 25px 10px;
    font-size: 1.5rem;  
    cursor: pointer;  
    border-radius: 10px;
    background-color: white;   
    
}

button:hover {
    border: 1px solid #ffffff;
    background-color: #0aa037;
    color: white;
    filter: drop-shadow(5px 5px 3px #015208be);
    
}