body {
    background-image: linear-gradient(45deg, #242424, #000000);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container { 
    width: auto;
    background-color: white;
    padding: 0 20px 30px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 0.5rem;
    height: 1.5rem;
    font-size: 1.1rem;
    padding-left: 5px;
    outline-color: #929292;
}

ul {
    margin: none;
    padding: none;
}

li {
    font-size: 1.1rem;
    margin: 0 0 8px 0;
    list-style: none;
    padding: none;
}

label {
    font-weight: 700;
}

button {
    margin-top: 15px;
    height: 2rem;
}

.error-text {
    font-size: 11px;
    color: red;
    margin-bottom: 10px;
}

